Debug
Release
*.exe
*.ilk
*.pdb
*.ncb
*.suo
*.vcproj
*.vcproj.*
*.ipch
*.db
*.vcxproj.user
/FP/project/*.idb
/lintcode/kclosest_numbers_test/.ipynb_checkpoints
/lintcode/longest_palindrome/.ipynb_checkpoints
/lintcode/longest_palindrome_seq_test/.ipynb_checkpoints
/lintcode/strstr_test/.ipynb_checkpoints
